<!DOCTYPE html>
<html>
<head>
	<title>Unnamed Game</title>
	<script src="/socket.io/socket.io.js"></script>
	<script async defer src="/js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<ul class="menu active" data-menu="main">
		<li class="thumbnail">
			<h1>Unnamed Game</h1>
			<p>Players online (<span data-socket="playerCount">1</span>)</p>
		</li>
		<li class="head">Main menu</li>
		<li data-link="tutorial">Tutorial</li>
		<li data-link="multiplayer">Multiplayer</li>
		<li data-link="settings">Settings</li>
		<li data-link="" onclick="">Quit</li>
	</ul>

	<ul class="menu inactive" data-menu="tutorial">
		<li class="thumbnail" style="background-image: url('');"></li>
		<li class="head">Tutorial</li>
		<li data-link="">Start game</li>
		<li class="back" data-link="main">Go Back</li>
	</ul>

	<ul class="menu inactive" data-menu="multiplayer">
		<li class="thumbnail" style="background-image: url('');"></li>
		<li class="head">Multiplayer</li>
		<li data-link="start-game" onclick="createGame();">Create game</li>
		<li data-link="join-game">Join game</li>
		<li class="back" data-link="main">Go Back</li>
	</ul>

	<ul class="menu inactive" data-menu="start-game">
		<li class="thumbnail">
			<h1 class="code">CODE: <span data-socket="code"></span></h1>
			<p>Friends can join your game with this code.</p>
		</li>
		<li class="head">Create Game</li>
		<li data-link="">Start game</li>
		<li class="back" data-link="multiplayer">Go Back</li>
	</ul>

	<ul class="menu inactive" data-menu="join-game">
		<li class="thumbnail" style="background-image: url('');"></li>
		<li class="head">Join Game</li>
		<li data-link="" onclick="inputDialog(enterCode(this, callback));">Enter code: </li>
		<li data-link="" class="join-game hidden">Join game</li>
		<li class="back" data-link="multiplayer">Go Back</li>
	</ul>

	<ul class="menu inactive" data-menu="settings">
		<li class="thumbnail" style="background-image: url('');"></li>
		<li class="head">Settings</li>
		<li data-link="" onclick="toggleFullscreen()">Toggle Fullscreen</li>
		<li class="back" data-link="main">Go Back</li>
	</ul>

	<ul class="player-list">
		<li class="head">Players<span class="right">(<span data-socket="partyCount">1</span>/10)</span></li>
		<li>Player (You)</li>
	</ul>

	<div class="inputDialog hidden">
		<form>
			<label>Input text:</label>
			<input type="text" name="input">
			<input type="submit" name="submit" value="">
		</form>
	</div>

	<footer>
		<p>pre-alpha build 1.0</p>
	</footer>
</body>
</html>