<!DOCTYPE html>
<html>
<head>
	<title>Unnamed Game</title>
	<script src="/socket.io/socket.io.js"></script>
	<script async defer src="/js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="manifest" href="/manifest.json">
	<script src="https://kit.fontawesome.com/d700bb2097.js"></script>
</head>
<body class="engine">
	<section class="main-menu">
		<ul class="menu active" data-menu="main">
			<li class="thumbnail">
				<h1>Unnamed Game</h1>
				<p>Players online (<span data-socket="playerCount">1</span>)</p>
			</li>
			<li class="head">Main menu</li>
			<li class="item" data-link="singleplayer">Singleplayer</li>
			<li class="item online" data-link="multiplayer">Multiplayer</li>
			<li class="item" data-link="settings">Settings</li>
			<li class="item" data-link="" onclick="window.close();">Quit</li>
		</ul>

		<ul class="menu inactive" data-menu="singleplayer">
			<li class="thumbnail" style="background-image: url('');"></li>
			<li class="head">Singleplayer</li>
			<li class="item locked" data-link="">Start game (Coming soon)</li>
			<li class="back item" data-link="main">Go Back</li>
		</ul>

		<ul class="menu inactive" data-menu="multiplayer">
			<li class="thumbnail" style="background-image: url('');"></li>
			<li class="head">Multiplayer</li>
			<li class="item online" data-link="start-game" onclick="createGame();">Create game</li>
			<li class="item online" data-link="join-game">Join game</li>
			<li class="back item" data-link="main">Go Back</li>
		</ul>

		<ul class="menu inactive" data-menu="start-game">
			<li class="thumbnail">
				<h1 class="code">CODE: <span data-socket="code"></span></h1>
				<p>Friends can join your game with this code.</p>
			</li>
			<li class="head">Create Game <span class="timer"></span></li>
			<li class="item online" data-link="" onclick="startGame();">Start game</li>
			<li class="back item" data-link="" onclick="disband(this);">Disband</li>
		</ul>

		<ul class="menu inactive" data-menu="lobby">
			<li class="thumbnail" style="background-image: url('');"></li>
			<li class="head">Lobby <span class="timer"></span></li>
			<li class="item back" data-link="join-game" onclick="leaveLobby();">Leave lobby</li>
		</ul>

		<ul class="menu inactive" data-menu="join-game">
			<li class="thumbnail" style="background-image: url('');"></li>
			<li class="head">Join Game</li>
			<li class="item" data-link="" onclick="enterCode(this)">Enter code: </li>
			<li class="item join-game locked online">Join game</li>
			<li class="back item" data-link="multiplayer">Go Back</li>
		</ul>

		<ul class="menu inactive" data-menu="settings">
			<li class="thumbnail" style="background-image: url('');"></li>
			<li class="head">Settings</li>
			<li class="item" data-link="" onclick="toggleFullscreen()">Toggle Fullscreen</li>
			<li class="back item" data-link="main">Go Back</li>
		</ul>

		<ul class="player-list">
			<li class="head">Players<span class="right">(<span class="partyCount">1</span>/10)</span></li>
			<ul class="players">
				<li class="item">You</li>
			</ul>
		</ul>

		<footer>
			<p>pre-alpha build 1.0</p>
		</footer>
	</section>

	<div class="inputDialog hidden">
		<form>
			<label>Input text:</label>
			<input type="text" name="input">
			<input type="submit" name="submit" value="">
		</form>
	</div>

	<section class="game">
		<div class="countrySelect">
			<div class="backdrop"></div>
			<ul class="players"></ul>
			<div class="nations"></div>
		</div>
	</section>

	<section class="screen-error">
		<h2>This game does not support screen widths below 1120px and heights below 750px.</h2>
		<h3>Try going full screen for the best experience.</h3>
		<button onclick="toggleFullscreen()">Toggle Fullscreen</button>
	</section>
	<script>
	if('serviceWorker' in navigator) {
		navigator.serviceWorker.register('/sw.js');
	}
	</script>
</body>
</html>