html, body {
	padding: 0;
	margin: 0;
	font-family: Helvectia, sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.engine {
	overflow: hidden;
}

section {
	height: 100vh;
	width: 100vw;
	position: absolute;
	left: 0;
	top: 0;
}

.main-menu {
	background: url('https://i.pinimg.com/originals/83/81/17/8381171693f7fedc6b6411c39f15f9fb.jpg') no-repeat center center fixed;
	background-size: cover;
	transform: translateZ(100px);
	transition: opacity .5s ease-in-out;
	&.hide {
		opacity: 0;
	}

	ul {
		position: absolute;
		margin: 0;
		padding: 0;
		list-style: none;
		color: white;
		width: 25%;
		min-width: 500px;
		li {
			transition: all .2s ease-in-out;
			padding: .8em;
			&.item {
				background-color: rgba(80, 80, 80, .8);
				width: 400px;
				&:hover {
					background-color: rgba(200, 80, 80, .8);
					width: 100%;
				}
				&:focus {
					background-color: rgba(200, 80, 80, .8);
					width: 100%;
					outline: none;
				}
			}
			&.locked {
				background-color: rgba(80, 80, 80, .7);
				color: lightgrey;
				&:hover {
					background-color: rgba(150, 150, 150, .6);
					width: 400px;
				}
				&:focus {
					background-color: rgba(150, 150, 150, .6);
					width: 400px;
					outline: none;
				}
			}
			&.head {
				background-color: rgba(20, 20, 20, .9);
				text-transform: uppercase;
				font-weight: bold;
				font-size: 18px;
				.right {
					float: right;
				}
			}
			&.thumbnail {
				height: 250px;
				padding: .1em 1.5em;
				margin-bottom: 5em;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				background-color: rgba(20, 20, 20, .4);
			}
		}
	}

	.player-list {
		right: 10%;
		top: 10%;
		transform: perspective(200px) rotateY(-2deg);
		-webkit-transform: perspective(200px) rotateY(-2deg);
	}
}



.menu {
	transition: all .2s ease-in-out;
	
	left: 10%;
	bottom: calc(10% + 1em);
	
	transform: perspective(200px) rotateY(2deg);
	-webkit-transform: perspective(200px) rotateY(2deg);
	z-index: 1;

	&.inactive {
		left: 5%;
		opacity: 0;
		z-index: 0;
	}
}

.inputDialog {
	transition: all .3s ease-in-out;
	z-index: 20;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(20, 20, 20, .9);
	-webkit-backdrop-filter: blur(10px) grayscale(100%);
	backdrop-filter: blur(10px) grayscale(100%);
	transform: translateZ(1000px);
	-webkit-transform: translateZ(1000px);
	form {
		position: absolute;
		background-color: rgba(200, 80, 80, .5);
		width: 400px;
		top: 50%;
		left: 50%;
		padding: 1em;
		transform: translate(-50%, -50%);
		label {
			display: block;
			color: white;
			margin-bottom: 5px;
		}
		input[type=text] {
			width: 85%;
			height: 30px;
		}
		input[type=submit] {
			width: 12%;
			height: 30px;
		}
	}
}

.hidden {
	opacity: 0;
	z-index: -100;
}

footer {
	position: absolute;
	bottom: 0;
	right: 1em;
	color: white;
}

.notification {
	transition: opacity .3s ease-in-out;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(20, 20, 20, .9);
	-webkit-backdrop-filter: blur(10px) grayscale(100%);
	backdrop-filter: blur(10px) grayscale(100%);
	transform: translateZ(100px);
	-webkit-transform: translateZ(100px);
	opacity: 0;
	z-index: 20;
	&.show {
		opacity: 1;
	}
	div {
		transition-property: width, opacity, padding;
		transition-duration: .2s;
		transition-timing-function: ease-in-out;
		box-sizing: border-box;
		position: relative;
		padding: 4em 0 4em 0;
		background-color: rgba(200, 80, 80, .5);
		width: 80vw;
		height: 400px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		color: white;
	}
	&.show div {
		padding: 4em 10% 4em 10%;
		width: 100vw;
		opacity: 1;
	}
	button {
		position: absolute;
		bottom: 3em;
		right: 10%;
		padding: 5px 10px;
		background-color: rgba(255, 255, 255, .7);
		border: none;
		width: 400px;
		height: 42px;
		text-align: left;
		&:before {
			transition: width .2s ease-in-out;
			z-index: -1;
			content: '';
			position: absolute;
			height: 42px;
			width: 5px;
			background-color: white;
			display: block;
			transform: translate(-11px, -14px);
		}
		&:hover:before {
			width: 400px;
		}
	}
}

.game {
	opacity: 0;
	z-index: -1;
	transition: opacity .5s ease-in-out;
	height: 100vh;
	width: 100vw;

	&.show {
		opacity: 1;
		z-index: 10;
		transform: translateZ(-150px);
		-webkit-transform: translateZ(-150px);
	}

	.backdrop {
		position: absolute;
		height: 100vh;
		width: 100vw;
		background: url('https://i.pinimg.com/originals/83/81/17/8381171693f7fedc6b6411c39f15f9fb.jpg') no-repeat center center fixed;
		background-size: cover;
		filter: grayscale(100%) blur(10px);
		transform: scale(1.1);
	}

	.countrySelect {
		filter: none;
		width: 100vw;
		height: 100vh;
		z-index: 10;
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			top: 10vh;
			z-index: 1000;
			li {
				padding: .7em;
			}
		}
		.players {
			position: absolute;
			left: 10%;
			width: 40%;
			max-width: 800px;
			transform: perspective(200px) rotateY(2deg);
			-webkit-transform: perspective(200px) rotateY(2deg);

			.otherUser {
				transition: all .3s ease-in-out;
				width: 80%;
				background-color: rgba(150, 150, 150, 1);
				&.active-turn {
					width: 100%;
					background-color: rgba(200, 80, 80, 1);
				}
			}

			.me {
				background-color: rgba(20, 20, 20, 1);
				color: white;
				width: 100%;
				h2 {
					margin: 0 0 10px 0;
				}
				.countries {
					display: grid;
					grid-template-columns: repeat(5, 1fr);
					grid-gap: 5px;
					div {
						box-sizing: border-box;
						padding: 10px;
						transition: all .3s ease-in-out;
						min-height: 90px;
						&:hover {
							background-color: rgba(150, 150, 150, .5);
						}
					}
				}
			}
		}

		.nations {
			transform: translateZ(-50px);
			-webkit-transform: translateZ(-50px);
			width: 100vw;
			height: 100vh;
			position: absolute;
		}

		.nation {
			transition: all .3s ease-in-out;
			position: absolute;
			right: 10%;
			width: 25%;
			max-width: 520px;
			height: 80%;
			opacity: 1;
			background-color: rgba(20, 20, 20, 1);
			color: white;
			transform: perspective(200px) rotateY(-2deg);
			-webkit-transform: perspective(200px) rotateY(-2deg);
			li {
				padding: 3px 20px;
			}
			.thumbnail {
				height: 250px;
				margin-bottom: .5em;
				background-image: url('http://conceptartworld.com/wp-content/uploads/2010/04/halo_reach_m-680x332.jpg');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				background-color: rgba(20, 20, 20, .4);
			}
			.nation-name {
				margin-top: .5em;
				font-size: 20pt;
				font-weight: bold;
				margin-bottom: 10px;
			}
			.nation-desc {
				min-height: 100px;
				font-size: 15px;
				height: auto;
				line-height: 25px;
			}
			.nation-stats {
				position: absolute;
				bottom: 60px;
				width: 100%;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 5px;
			}
			.nation-confirm {
				box-sizing: border-box;
				position: absolute;
				width: 100%;
				height: 50px;
				padding: 1em;
				background-color: rgba(200, 80, 80, 1);
				bottom: 0;
			}

			&.inactive {
				right: 0%;
				opacity: 0;
				z-index: -1;
			}
		}
	}
}

.screen-error {
	display: none;
	@media screen and (max-width: 1120px), (max-height: 750px) {
		display: block;
		width: 100vw;
		height: 100vh;
		position: absolute;
		background-color: black;
		color: white;
		z-index: 100000;
		padding: 20px;
	}
}
