html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvectia, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.engine {
  overflow: hidden;
}

section {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}

.main-menu {
  background: url("https://i.pinimg.com/originals/83/81/17/8381171693f7fedc6b6411c39f15f9fb.jpg") no-repeat center center fixed;
  background-size: cover;
  transform: translateZ(100px);
  transition: opacity 0.5s ease-in-out;
}

.main-menu.hide {
  opacity: 0;
}

.main-menu ul {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
  width: 25%;
  min-width: 500px;
}

.main-menu ul li {
  transition: all 0.2s ease-in-out;
  padding: 0.8em;
}

.main-menu ul li.item {
  background-color: rgba(80, 80, 80, 0.8);
  width: 400px;
}

.main-menu ul li.item:hover {
  background-color: rgba(200, 80, 80, 0.8);
  width: 100%;
}

.main-menu ul li.item:focus {
  background-color: rgba(200, 80, 80, 0.8);
  width: 100%;
  outline: none;
}

.main-menu ul li.locked {
  background-color: rgba(80, 80, 80, 0.7);
  color: lightgrey;
}

.main-menu ul li.locked:hover {
  background-color: rgba(150, 150, 150, 0.6);
  width: 400px;
}

.main-menu ul li.locked:focus {
  background-color: rgba(150, 150, 150, 0.6);
  width: 400px;
  outline: none;
}

.main-menu ul li.head {
  background-color: rgba(20, 20, 20, 0.9);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.main-menu ul li.head .right {
  float: right;
}

.main-menu ul li.thumbnail {
  height: 250px;
  padding: 0.1em 1.5em;
  margin-bottom: 5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(20, 20, 20, 0.4);
}

.main-menu .player-list {
  right: 10%;
  top: 10%;
  transform: perspective(200px) rotateY(-2deg);
  -webkit-transform: perspective(200px) rotateY(-2deg);
}

.menu {
  transition: all 0.2s ease-in-out;
  left: 10%;
  bottom: calc(10% + 1em);
  transform: perspective(200px) rotateY(2deg);
  -webkit-transform: perspective(200px) rotateY(2deg);
  z-index: 1;
}

.menu.inactive {
  left: 5%;
  opacity: 0;
  z-index: 0;
}

.inputDialog {
  transition: all 0.3s ease-in-out;
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.9);
  -webkit-backdrop-filter: blur(10px) grayscale(100%);
  backdrop-filter: blur(10px) grayscale(100%);
  transform: translateZ(1000px);
  -webkit-transform: translateZ(1000px);
}

.inputDialog form {
  position: absolute;
  background-color: rgba(200, 80, 80, 0.5);
  width: 400px;
  top: 50%;
  left: 50%;
  padding: 1em;
  transform: translate(-50%, -50%);
}

.inputDialog form label {
  display: block;
  color: white;
  margin-bottom: 5px;
}

.inputDialog form input[type=text] {
  width: 85%;
  height: 30px;
}

.inputDialog form input[type=submit] {
  width: 12%;
  height: 30px;
}

.hidden {
  opacity: 0;
  z-index: -100;
}

footer {
  position: absolute;
  bottom: 0;
  right: 1em;
  color: white;
}

.notification {
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.9);
  -webkit-backdrop-filter: blur(10px) grayscale(100%);
  backdrop-filter: blur(10px) grayscale(100%);
  transform: translateZ(100px);
  -webkit-transform: translateZ(100px);
  opacity: 0;
  z-index: 20;
}

.notification.show {
  opacity: 1;
}

.notification div {
  transition-property: width, opacity, padding;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  box-sizing: border-box;
  position: relative;
  padding: 4em 0 4em 0;
  background-color: rgba(200, 80, 80, 0.5);
  width: 80vw;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
}

.notification.show div {
  padding: 4em 10% 4em 10%;
  width: 100vw;
  opacity: 1;
}

.notification button {
  position: absolute;
  bottom: 3em;
  right: 10%;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  width: 400px;
  height: 42px;
  text-align: left;
}

.notification button:before {
  transition: width 0.2s ease-in-out;
  z-index: -1;
  content: "";
  position: absolute;
  height: 42px;
  width: 5px;
  background-color: white;
  display: block;
  transform: translate(-11px, -14px);
}

.notification button:hover:before {
  width: 400px;
}

.game {
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s ease-in-out;
  height: 100vh;
  width: 100vw;
}

.game.show {
  opacity: 1;
  z-index: 10;
  transform: translateZ(-150px);
  -webkit-transform: translateZ(-150px);
}

.game .backdrop {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: url("https://i.pinimg.com/originals/83/81/17/8381171693f7fedc6b6411c39f15f9fb.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-filter: grayscale(100%) blur(10px);
          filter: grayscale(100%) blur(10px);
  transform: scale(1.1);
}

.game .countrySelect {
  -webkit-filter: none;
          filter: none;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.game .countrySelect ul {
  list-style: none;
  padding: 0;
  margin: 0;
  top: 10vh;
  z-index: 1000;
}

.game .countrySelect ul li {
  padding: 0.7em;
}

.game .countrySelect .players {
  position: absolute;
  left: 10%;
  width: 40%;
  max-width: 800px;
  transform: perspective(200px) rotateY(2deg);
  -webkit-transform: perspective(200px) rotateY(2deg);
}

.game .countrySelect .players .otherUser {
  transition: all 0.3s ease-in-out;
  width: 80%;
  background-color: #969696;
}

.game .countrySelect .players .otherUser.active-turn {
  width: 100%;
  background-color: #c85050;
}

.game .countrySelect .players .me {
  background-color: #141414;
  color: white;
  width: 100%;
}

.game .countrySelect .players .me h2 {
  margin: 0 0 10px 0;
}

.game .countrySelect .players .me .countries {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.game .countrySelect .players .me .countries div {
  box-sizing: border-box;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  min-height: 90px;
}

.game .countrySelect .players .me .countries div:hover {
  background-color: rgba(150, 150, 150, 0.5);
}

.game .countrySelect .nations {
  transform: translateZ(-50px);
  -webkit-transform: translateZ(-50px);
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.game .countrySelect .nation {
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 10%;
  width: 25%;
  max-width: 520px;
  height: 80%;
  opacity: 1;
  background-color: #141414;
  color: white;
  transform: perspective(200px) rotateY(-2deg);
  -webkit-transform: perspective(200px) rotateY(-2deg);
}

.game .countrySelect .nation li {
  padding: 3px 20px;
}

.game .countrySelect .nation .thumbnail {
  height: 250px;
  margin-bottom: 0.5em;
  background-image: url("http://conceptartworld.com/wp-content/uploads/2010/04/halo_reach_m-680x332.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgba(20, 20, 20, 0.4);
}

.game .countrySelect .nation .nation-name {
  margin-top: 0.5em;
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 10px;
}

.game .countrySelect .nation .nation-desc {
  min-height: 100px;
  font-size: 15px;
  height: auto;
  line-height: 25px;
}

.game .countrySelect .nation .nation-stats {
  position: absolute;
  bottom: 60px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.game .countrySelect .nation .nation-confirm {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 1em;
  background-color: #c85050;
  bottom: 0;
}

.game .countrySelect .nation.inactive {
  right: 0%;
  opacity: 0;
  z-index: -1;
}

.screen-error {
  display: none;
}

@media screen and (max-width: 1120px), (max-height: 750px) {
  .screen-error {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: black;
    color: white;
    z-index: 100000;
    padding: 20px;
  }
}

